.header{
    display: flex;
    gap: 30px;
    padding: 20px;
    align-items: center;
    background-color: beige;
}

.header .header-item:nth-child(1) img{
    height: 50px;
    width: 400px;
   
}

.header .header-item:nth-child(1){
     margin-right: auto;

}

.header .header-item:nth-child(2), .header-item:nth-child(3), .header-item:nth-child(4), .header-item:nth-child(5), .header-item:nth-child(6){
    font-family: serif;
    font-size: larger;
    font-weight: 900;
    cursor: pointer;
    background-color: bisque;
    
}

.heading{
    text-align: center;
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;
    color: black;
    text-shadow:0 0 20px #999;
}

.form{
    display:flex ;
    padding: 10px;
    justify-content: center;
    gap: 40px;
}

.personal-form,
.property-form{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.personal-form label,
.property-form label {
    display: inline-block;
    width: 150px;
    
    
}
input[type="text"], select{
width: 300px;
height: 30px;
}

h1{
    background-color: bisque;
    width: 500px;
    margin-top: -15px;

}

html{
     background-color: rgb(246, 246, 243);
}

button{
    background-color: bisque;
    font-family: sans-serif;
    font-size: large;
    cursor: pointer;
    margin-left: 850px;
    margin-top: -99px;
}

#estimate{
   text-align: center;
   margin-top: -20px;
}